<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card id="card1" class="card1">
    <img src="assets/imgs/photogrampic.jpg"> <!--https://bitfab.io/blog/photogrammetry/-->
    <div class="card-title">Photogrammetry</div>
    <div class="card-subtitle">Utilize the Photogrammetry Function</div>
  </ion-card>

  <ion-card id="card2" class="card2">
    <img src="assets/imgs/takeatourpic.png"> <!--Ryan Beckford Laptop Meme-->
    <div class="card-title">Take a Tour</div>
    <div class="card-subtitle">Explore the Mobile App</div>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/projectspic.jpg"> <!--https://www.linkedin.com/pulse/importance-project-development-jose-diego-monroy-cfm-->
    <div class="card-title">Check Projects</div>
    <div class="card-subtitle">See your 3D Projects</div>
  </ion-card>

</ion-content>
