
Photogrammetry-Project/MobileApp/photogramApp/.browserslistrc
Photogrammetry-Project/MobileApp/photogramApp/.editorconfig
Photogrammetry-Project/MobileApp/photogramApp/.eslintrc.json
Photogrammetry-Project/MobileApp/photogramApp/.vscode/extensions.json
Photogrammetry-Project/MobileApp/photogramApp/.vscode/settings.json
Photogrammetry-Project/MobileApp/photogramApp/angular.json
Photogrammetry-Project/MobileApp/photogramApp/capacitor.config.ts
Photogrammetry-Project/MobileApp/photogramApp/ionic.config.json
Photogrammetry-Project/MobileApp/photogramApp/karma.conf.js
Photogrammetry-Project/MobileApp/photogramApp/package-lock.json
Photogrammetry-Project/MobileApp/photogramApp/package.json
Photogrammetry-Project/MobileApp/photogramApp/.vscode
Photogrammetry-Project/MobileApp/photogramApp/tsconfig.spec.json
Photogrammetry-Project/MobileApp/photogramApp/tsconfig.json
Photogrammetry-Project/MobileApp/photogramApp/tsconfig.app.json
