<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click) = "returnHome()">
        Home
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card id="1">

    <img src="assets/imgs/projects_table.jpg" id="table_proj">
    <ion-card-header>
      <ion-card-title>Long MorningWood Table</ion-card-title>
      <ion-card-subtitle>For Mrs. Felicia</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      It's really just a table don't overthink it.
    </ion-card-content>

  </ion-card>

  <ion-card id="2">
    <img src="assets/imgs/projects_pc.jpg" id="pc_proj">
    <ion-card-header>
      <ion-card-title>ITX Form Factor Tower</ion-card-title>
      <ion-card-subtitle>Percy's Dream PC</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      How do i fit this in my pocket?
    </ion-card-content>

  </ion-card>

  <ion-card id="3">
    <img src="assets/imgs/projects_door.png" id="proj_door">
    <ion-card-header>
      <ion-card-title>Majestic Wooden Door</ion-card-title>
      <ion-card-subtitle>Stylized wooden door</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Anything sold with an adjective on it costs 60$ more.
    </ion-card-content>
  </ion-card>
</ion-content>
