// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

$colors: (
    primary: #E1EAF9,
    secondary: rgb(53, 169, 208),
    danger: red,
    light: rgb(255, 253, 253),
    dark: gray,
    blue: #3557b5
);