<ion-header class="ion-no-border">
  <ion-button fill="clear" (click)="onBackArrowClick()" id="backarrow">
    <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
  </ion-button>
  <ion-title>Sign Up</ion-title>
  <p>Create your account by filling up the form</p>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div id="container">
    <ion-list class="bg-transparent">
      <ion-item color="blue">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-input 
          id="uName" 
          placeholder="Input Username"
          ></ion-input>
      </ion-item>
      <ion-item color="blue" lines="none">
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-input 
          id="eMail" 
          type="email" 
          placeholder="Input Email"
          errorText="Invalid email"
          ngModel
          email
          ></ion-input>
      </ion-item>
      <ion-item color="blue">
        <ion-icon name="lock-closed" slot="start"></ion-icon>
        <ion-input 
          id="pWord" 
          type="Password" 
          placeholder="*****"
          ></ion-input>
      </ion-item>
    </ion-list>

    <div id="buttons">
      <div class="width-limit">
        <ion-button expand="block" id="sign-up" (click)="myClick(true)">Sign Up</ion-button>
        <ion-alert
        [isOpen]="isAlertOpenSuccess"
        header="Success"
        message="Account has been created"
        [buttons]="alertButtons"
        (didDismiss)="myClick(false)"
      ></ion-alert>
      </div>
    </div>
    
    <p style="margin-bottom: 30px;" id="with">Sign up with</p>

    <div id="social-media-icons">
      <img src="/assets/imgs/apple.png" style="margin-right: 10px;">
      <img src="/assets/imgs/facebook.png" style="margin-right: 10px;">
      <img src="/assets/imgs/google.png">
    </div>
  </div>
</ion-content>
