<ion-header class="ion-no-border">
  <img src="/assets/imgs/header.png" id="headerimg">
</ion-header>

<ion-content [fullscreen]="true">

  <b>Welcome</b>
  <p style="font-size: 18px;">This Photogrammetry app will revolutionize creator-client understanding with a simple 'pic' of a design</p>

  <div id="buttons">
    <ion-button (click)="onLoginClick()">Login</ion-button>
    <ion-button>Sign Up</ion-button>
  </div>
  
  <p style="margin-bottom: 30px;">Or via Social Media</p>

  <div id="social-media-icons">
    <img src="/assets/imgs/apple.png" style="margin-right: 10px;">
    <img src="/assets/imgs/facebook.png" style="margin-right: 10px;">
    <img src="/assets/imgs/google.png">
  </div>
</ion-content>
