@import '../../theme/variables';

ion-header {
    #headerimg {
        width: 100%;
    }
}

ion-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    --ion-background-color: #{map-get($colors, primary)};
    #container {
        margin-top: 70px;
        b {
            margin: 0;
            font-size: 30px;
            color: black;
        }
        p {
            color: #{map-get($colors, dark)};
            margin: 0;
            padding-left: 20px; 
            padding-right: 20px; 
        }
        #buttons {
            margin-top: 30px; 
            margin-bottom: 30px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .width-limit {
                margin-left: 15px;
                margin-right: 15px;
                width: 120px;
            } 
            #login-btn {
                --border-radius: 15px;
                color: white;
            }
            #signup-btn {
                --background: #{map-get($colors, light)};
                --border-radius: 15px;
            }
        }
    }
}