<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="returnHome()">
        Home
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <p>Explore the Mobile Functionality of the Photogrammetry App!</p>
  <div class="cards">
    <ion-card>
      <img src="assets/imgs/tour_card1.jpg">
      <ion-card-header>
        <ion-card-title class="title">Navigating the Photogrammetry app</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img src="assets/imgs/tour_howtouse.jpg">
      <ion-card-header>
        <ion-card-title class="title">Learn how to use the Photogrammetry function</ion-card-title>
      </ion-card-header>
    </ion-card>
   </div>

   <div class="test">
     <ion-card>
      <img src="assets/imgs/tour_howtopic.jpg">
      <ion-card-header>
        <ion-card-title class="title">Tips on how to maximize your Photogrammetry</ion-card-title>
      </ion-card-header>
    </ion-card>
   </div>

</ion-content>
