<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="returnHome()">
        Home
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <p>Explore the Mobile Functionality of the Photogrammetry App!</p>
  
    <ion-card id="1">

      <a target="_blank" href="https://l.facebook.com/l.php?u=https%3A%2F%2Fyoutu.be%2F1omuMkA8qPs%3Ffbclid%3DIwZXh0bgNhZW0CMTAAAR2kyQWKn49yXvcrOleJ6xVa2XrWxO-S8ISebkDP63blLITO1XXgEWagl9E_aem_x_hcHwwI-T_lLIcXU-wI5g&h=AT1H1XJ87s0EuuOqyP6LDJiODat1pMGTzXSHOyOkP0Lm5oOJoaQQZbSKTi45t-6laE4OYBiGlEZ81ttsRIzemgXp8BsBzyWKEQ3qhAPyz4uLgHgUf3duy8Al7psqm84sj8Za9vA-1ao">
        <img src="assets/imgs/tour_card1.jpg"></a>
      <ion-card-header>
        <ion-card-title class="title">Navigating the Photogrammetry app</ion-card-title>
      </ion-card-header>

    </ion-card>

    <ion-card id="2">

     <a target="_blank" href="https://l.facebook.com/l.php?u=https%3A%2F%2Fyoutu.be%2FBdxdrjIXHw4%3Ffbclid%3DIwZXh0bgNhZW0CMTAAAR2RWsEcn-T-KkGFDtSVnx2JeANCyMkqq5mFg1x-kyy7JQCi1XfH62BTmlk_aem_auUUgyg9Gmo5FT6GoeUu8A&h=AT1H1XJ87s0EuuOqyP6LDJiODat1pMGTzXSHOyOkP0Lm5oOJoaQQZbSKTi45t-6laE4OYBiGlEZ81ttsRIzemgXp8BsBzyWKEQ3qhAPyz4uLgHgUf3duy8Al7psqm84sj8Za9vA-1ao">
      <img src="assets/imgs/tour_howtouse.jpg"></a>
      <ion-card-header>
        <ion-card-title class="title">Learn how to use the Photogrammetry function</ion-card-title>
      </ion-card-header>

    </ion-card>
   

   
     <ion-card id="3">

      <a target="_blank" href="https://l.facebook.com/l.php?u=https%3A%2F%2Fyoutu.be%2FMhP-f4IbeUQ%3Ffbclid%3DIwZXh0bgNhZW0CMTAAAR2MQfbzjbBlfkPbXiBQz8WqVJQTERaEObC4pKkNhG6RpWgiLYirNQDqMw0_aem_qrnD_psrNZcVhNodiML08w&h=AT1H1XJ87s0EuuOqyP6LDJiODat1pMGTzXSHOyOkP0Lm5oOJoaQQZbSKTi45t-6laE4OYBiGlEZ81ttsRIzemgXp8BsBzyWKEQ3qhAPyz4uLgHgUf3duy8Al7psqm84sj8Za9vA-1ao">
        <img src="assets/imgs/tour_howtopic.jpg"></a>
      <ion-card-header>
        <ion-card-title class="title">Tips on how to maximize your Photogrammetry</ion-card-title>
      </ion-card-header>

    </ion-card>
   

</ion-content>
